body {
background-color: rgba(87, 21, 199, 0.5);
font-family: Arial;
margin-bottom: 3em;
}
div {
margin-top: 0.6em;
text-align: center;
}
svg {
background-color: rgb(249, 200, 231);
display: block;
margin: auto;
margin-top: 1em;
}
#title {
font-size: 2em;
font-weight: bold;
}
#duration {
font-size: 1em;
}
#tooltip {
background-color: pink;
height: 50px;
position: absolute;
visibility: hidden;
width: 150px;
}
